.articles-container {
  box-sizing: border-box;
  max-width: 700px;
  margin: 30px auto;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.articles-container ul {
  margin: 0;
  padding: 0;
}
.button-selectors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
}

.button-selectors button {
  margin: 5px;
  flex: 1;
  font-size: 14px;
  background-color: #ffffff;
  color: rgb(38, 38, 38);
  cursor: pointer;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
  padding: 7px;
}

.button-selectors button:hover {
  background-color: #eaecfc;
  color: rgb(38, 38, 38);
  text-decoration: underline;
}

.search-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.search-box {
  flex: 1;
  flex-direction: column;
  padding: 5px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
  margin-left: 3px;
  padding: 7px;
}

.search-container input {
  padding: 15px;
}

.order-by-button {
  border: 2px solid #c1c3d0;
  margin-left: 5px;
  cursor: pointer;
  width: 50px;
  padding-top: 5px;
  border-radius: 50%;
  font-size: 18px;
  color: rgb(38, 38, 38);
  text-decoration: none;
  background-color: #eaecfc;
  opacity: 0.7;
}

.order-by-button:hover {
  opacity: 0.9;
}

.filter-text {
  padding-top: 5px;
  font-size: 28px;
  color: grey;
}

.hero-section {
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
  color: rgb(33, 33, 33);
  background-color: white;
}

.topic-title {
  text-transform: capitalize;
  font-weight: 400;
}

@media only screen and (min-width: 720px) {
  .articles-container {
    margin: 90px auto;
  }
}

@media only screen and (max-width: 270px) {
  .button-selectors {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .button-selectors button {
    flex: 2;
    font-size: 14px;
    width: 90%;
  }
}
