.footer-container {
  margin-top: 100px;
  height: 50px;
  background-color: #5c0355;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px rgb(206, 206, 206);
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #ffffff;
}

.footer-container a {
  color: #ffffff;
}
